.btn-cart{
    position: relative;
    background-color: transparent;
}
.btn-cart .badge {
    position: absolute;
    top:-1px;
    right: -1px;
}
.dropdown-menu-right{
    right: 0;
    left: auto;
}
.jumbotron-bg{
    background-image: url('https://images.unsplash.com/photo-1477901492169-d59e6428fc90?w=1350');
    background-size: cover;
    background-position: center center;
    min-height: 400px;
}
.bg-lighter{
    background-color: rgba(255, 255, 255, 65%);
}
.box-shadow{
    box-shadow: 0 3px 5px rgba(0, 0, 0, 16%);
    transition: box-shadow .3s ;
}
.box-shadow:hover{
    box-shadow: 0 4px 10px rgba(0, 0, 0, 24%);
}
.btn.disabled{
    pointer-events: none;
}
.alert-rounded{
    border-radius: 50px;
}
.main{
    min-height: calc(100vh - 56px - 176px);
}